/* Стиль заголовка */
.title{
	font-size: 22px;
	font-family: "Segoe UI", Arial, sans-serif;
	min-width: 320px;
	max-width: 720px;
	margin: 0 auto;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 8px;
	text-align: center;
	font-weight: bold;
}


/* Стиль верхнего меню */
div.questions-line{
	height: 34px;
	min-width: 320px;
	max-width: 720px;
	margin: 0 auto;	
}

.first{
	-webkit-border-radius: 6px 0 0 6px;
	-moz-border-radius: 6px 0 0 6px;	
	border-radius: 6px 0 0 6px;
}

.last{
	-webkit-border-radius: 0 6px 6px 0;
	-moz-border-radius: 0 6px 6px 0;	
	border-radius: 0 6px 6px 0;
}

div.questions {	
	font-size: 22px;
	font-family: "Segoe UI", Arial, sans-serif;
	min-width: 320px;
	max-width: 720px;
	margin: 0 auto;	
}

input[type='radio']{
	display: none;
}

.questions-line label{	
	width: 10%;
  display: block;
	float: left;
	position: relative;
	font-size: 22px;
	height: 34px;
	text-align: center;
	transition: font-size .3s ease;
	margin: 0 auto;
	margin: -1px;
	border: 1px solid #8e8e8e;
	font-weight: bold;
	color: #1a284f;
}

.questions-line input[type="radio"]:checked+label{
	font-weight: bold; 
	/* background: #0080c0b4; */
	border: 2px solid #fa0000;
	margin: -2px;
	/* border-bottom-color: #073e46; */
	-webkit-border-radius: 6px !important;
	-moz-border-radius: 6px !important;	
	border-radius: 6px !important;
	font-size: 28px;
}

.questions-line label:hover{
	border: 1px solid #8e8e8e;
	margin: -1px;
	/* border-bottom-color: #008799; */
	font-size: 32px !important;
	/* background: lightgrey;	 */
	/* opacity: 0; */
	-webkit-box-shadow: 0px 0px 10px 0px black;
	-moz-box-shadow: 0px 0px 10px 0px black;
	box-shadow: 0px 0px 10px 0px black;	
	-webkit-border-radius: 6px !important;
	-moz-border-radius: 6px !important;
	border-radius: 6px !important;
	z-index: 3;
	opacity: 0.9;
}
