.title {
    font-size: 22px;
    font-family: "Segoe UI", Arial, sans-serif;
    min-width: 320px;
    max-width: 720px;
    margin: 0 auto;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 8px;
    text-align: center;
    font-weight: bold;
}
.navbar {
    position: fixed;
    z-index: 10;
    background-color: yellow;
    width: 100%;
}
.quiz {
    padding-top: 80px;
}
