$base-color: #0080c0;
$base-color-hover: #0176b1;
$test-passed-color: forestgreen;
$test-failed-color: #ff5252;
$answer-background-color: #A5D0E7;
$answer-color: #1a284f;

$tests-font-family: "Segoe UI", Arial, sans-serif;