@import '../../assets/variables/variables.scss';

.tests {
}
.tests__title {

}
.tests__list {
    padding-inline-start: 0;
}
.tests__link {
    text-decoration: none;
}
.tests__list-item {
    list-style-type: none;
}
.tests__test{
    font-size: 1.25rem;
    font-family: $tests-font-family;
    display: block;	
    position: relative;
    margin: 1% auto;
    padding:4%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: $answer-background-color;
    color: #1a284f;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid transparent;
    text-decoration: none;

    &:hover {		
        color:#fafafa;
        background-color: $base-color;
        border: 2px solid $base-color;
        -webkit-box-shadow: 0 0 10px 1px #060724;
        box-shadow: 0 0 10px 1px #060724;
    }
}