@import '../../assets/variables/variables.scss';

.header {
    position: fixed;
    z-index: 10;
    background-color: $base-color;
    width: 100%;
}
.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.header__left {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
.logo {
    opacity: 1;
}
.logo__img {
    width: 2.5rem;
}
.nav-menu {
    display: flex;
    z-index: 10;
    align-items: center;
}
.nav-menu__link {
    margin-right: 3.75rem;
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    @media (max-width: 768px) {
        margin-right: 20px;
    }
    &:hover {
        text-decoration: underline;
    }
}
.header__right {
}
.user {
}
.user__link {
}
.user__img {
    width: 1.875rem;
}
