@import '../../assets/variables/variables.scss';

.overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    // display: none;
    z-index: 10;

    .popup {
        display: flex;  
        flex-direction: column;      
        position: fixed;
        width: 400px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 40px;
        box-sizing: border-box;
        background-color: $test-failed-color;
        color: #fff;
        font-family: "Segoe UI", Arial, sans-serif;
        z-index: 11;
        text-align: center;
        &.passed {
            background-color: $test-passed-color;
        }

        h2 {
            text-transform: uppercase;
        }

        p {
            font-size: 1.5em;
        }

        .close-popup {
            position: absolute;
            top: 15px;
            right: 15px;
            width: 23px;
            height: 23px;
            cursor: pointer;

            &:before {
                content: '';
                background-color: #fff;
                position: absolute;
                height: 1px;
                width: 31px;
                top: 11px;
                left: -4px;
                transform: rotate(-45deg);
            }

            &:after {
                content: '';
                background-color: #fff;
                position: absolute;
                height: 1px;
                width: 31px;
                top: 11px;
                transform: rotate(45deg);
                left: -4px;
            }
        }
    }
}

